.no-border-card {
    border: none !important;
}
.card-separator {
    height: 1px; /* Set the height of the separator line */
    background-color: rgba(11, 11, 11, 0.192); /* Set the color of the separator line */
    margin: 10px 0; /* Adjust margin as needed to control spacing */
}
